.profile-picture {
  object-fit: cover;
  width: var(--circle-size);
  height: var(--circle-size);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  border: 3px solid var(--color-primary);
}
