:root {
  --circle-size: 165px;
  --radius: 100px;
  --shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  --font-color: rgb(250, 250, 250);
}

.profile-pic {
  color: transparent;
  display: flex;
  width: auto;;
  position: relative;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.profile-pic input {
  display: none;
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: var(--circle-size);
  height: var(--circle-size);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  z-index: 0;
}

.profile-pic .-label {
  cursor: pointer;
  height: var(--circle-size);
  width: var(--circle-size);
}

.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: var(--font-color);
  transition: background-color 0.2s ease-in-out;
  border-radius: var(--radius);
}

.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}
