.logo {
  display: flex;
  align-items: center;
  gap: var(--sp-2);
}

.logo-icon {
  width: 36px;
  height: 36px;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
}
.logo-icon:hover {
  cursor: default;
}

.logo-text {
  font-size: var(--fs-18);
  font-weight: var(--fw-semibold);
  color: var(--color-text-primary);
}

.logo-text:hover {
  cursor: default;
}
