nav {
  width: 15svw; /* Ancho fijo del navbar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: var(--color-navbar-bg);
  border-right: var(--color-border) solid 1px;
  height: 100vh; /* Ocupa toda la altura del viewport */
  position: sticky; /* Hace que el navbar sea fijo */
  top: 0; /* Fija el navbar al inicio del viewport */
  overflow: hidden; /* Evita que el contenido del navbar desborde */
}

.navbar-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 100px;
}

.navbar-user-info > ul > li > a {
  color: var(--color-text-secondary);
  font-weight: 400;
}

.username {
  font-weight: 800;
  font-size: 18px;
  margin: 10px;
  color: var(--color-text-primary);
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  list-style: none;
}

nav > ul > li > a {
  color: var(--color-text-secondary);
  font-weight: 200;
  transition: var(--transition-fast);
}

nav a:hover {
  color: var(--color-primary);
  font-weight: 400;
}

nav a:active,
nav a:focus {
  color: var(--color-primary);
  font-weight: bold;
}

.nav-icon {
  margin-right: 10px;
}


